<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"className":"is-style-file-card","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-file-card"><!-- wp:paragraph {"className":"has-small-font-size has-display-font-family","style":{"typography":{"fontWeight":"700","textTransform":"uppercase"}},"fontSize":"small"} -->
<p class="has-small-font-size has-display-font-family" style="font-weight:700;text-transform:uppercase">Update</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->

<!-- wp:post-date {"format":"l j F Y","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
