<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|70","padding":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40)"><!-- wp:pattern {"slug":"glyph/front-intro"} /-->

<!-- wp:pattern {"slug":"glyph/foundry-news"} /-->

<!-- wp:pattern {"slug":"glyph/typefaces-list"} /-->

<!-- wp:pattern {"slug":"glyph/glyph-grid"} /-->

<!-- wp:pattern {"slug":"glyph/specimen-poster"} /-->

<!-- wp:pattern {"slug":"glyph/in-use-feature"} /-->

<!-- wp:pattern {"slug":"glyph/in-use-grid"} /-->

<!-- wp:pattern {"slug":"glyph/trials"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
