<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"level":1,"align":"wide","fontSize":"display"} -->
<h1 class="wp-block-heading alignwide has-display-font-size">All the recipes</h1>
<!-- /wp:heading -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":6} -->
<h6 class="wp-block-heading">By course</h6>
<!-- /wp:heading -->

<!-- wp:categories {"className":"is-style-chips"} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":6} -->
<h6 class="wp-block-heading">By diet or ingredient</h6>
<!-- /wp:heading -->

<!-- wp:tag-cloud {"smallestFontSize":"1rem","largestFontSize":"1rem","className":"is-style-chips"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:pattern {"slug":"pantry/recipe-grid-archive"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
