<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:0"><!-- wp:pattern {"slug":"rep/intro-line"} /-->

<!-- wp:pattern {"slug":"rep/works-index"} /-->

<!-- wp:group {"align":"wide","className":"is-style-rule-top","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide is-style-rule-top"><!-- wp:pattern {"slug":"rep/roster-names"} /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"rep/style-index"} /-->

<!-- wp:pattern {"slug":"rep/artist-feature"} /-->

<!-- wp:pattern {"slug":"rep/recent-commissions"} /-->

<!-- wp:spacer {"height":"var:preset|spacing|50"} -->
<div style="height:var(--wp--preset--spacing--50)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:pattern {"slug":"rep/commission-artist"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
