<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|50"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"66%"} -->
<div class="wp-block-column" style="flex-basis:66%"><!-- wp:post-featured-image {"sizeSlug":"full"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"34%"} -->
<div class="wp-block-column" style="flex-basis:34%"><!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->

<!-- wp:pattern {"slug":"rep/work-facts"} /-->

<!-- wp:post-content /-->

<!-- wp:paragraph {"style":{"typography":{"fontWeight":"500"}}} -->
<p class=""><a href="/contact/">Ask about this artist</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","className":"is-style-rule-top","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide is-style-rule-top"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","label":"Previous by this artist","showTitle":true,"taxonomy":"category"} /-->

<!-- wp:post-navigation-link {"label":"Next by this artist","showTitle":true,"taxonomy":"category"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
