<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"room/hero-latest-project"} /-->

<!-- wp:pattern {"slug":"room/projects-grid"} /-->

<!-- wp:pattern {"slug":"room/the-edit"} /-->

<!-- wp:pattern {"slug":"room/shop-categories"} /-->

<!-- wp:pattern {"slug":"room/client-testimonial"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"room/claret-cta"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
