<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|60","padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-title {"level":1} /-->

<!-- wp:post-excerpt {"fontSize":"large"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"3/2","align":"wide"} /-->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:pattern {"slug":"room/pieces-in-project"} /-->

<!-- wp:group {"align":"wide","className":"is-style-rule-top","layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide is-style-rule-top"><!-- wp:post-navigation-link {"type":"previous","label":"Previous project","showTitle":true} /-->

<!-- wp:post-navigation-link {"label":"Next project","showTitle":true} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
