<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"level":1,"align":"wide","fontSize":"xx-large"} -->
<h1 class="wp-block-heading alignwide has-xx-large-font-size">Events and news</h1>
<!-- /wp:heading -->

<!-- wp:pattern {"slug":"taproom/events-page-intro"} /-->

<!-- wp:pattern {"slug":"taproom/event-types"} /-->

<!-- wp:pattern {"slug":"taproom/post-list"} /-->

<!-- wp:pattern {"slug":"taproom/quiz-night"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
