<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:0"><!-- wp:pattern {"slug":"reel/lead-film"} /-->

<!-- wp:group {"align":"wide","className":"is-style-rule-top","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide is-style-rule-top"><!-- wp:pattern {"slug":"reel/screenings-list"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"is-style-rule-top","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide is-style-rule-top"><!-- wp:pattern {"slug":"reel/programme-grid"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|50"} -->
<div style="height:var(--wp--preset--spacing--50)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:pattern {"slug":"reel/host-band"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
