<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:pattern {"slug":"bind/cover-board"} /-->

<!-- wp:pattern {"slug":"bind/before-after"} /-->

<!-- wp:pattern {"slug":"bind/contents-services"} /-->

<!-- wp:pattern {"slug":"bind/recent-case-studies"} /-->

<!-- wp:pattern {"slug":"bind/workshops-teaser"} /-->

<!-- wp:pattern {"slug":"bind/visit-strip"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
