<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:heading {"level":1,"align":"wide","fontSize":"display"} -->
<h1 class="wp-block-heading alignwide has-display-font-size">Everything in the guide</h1>
<!-- /wp:heading -->

<!-- wp:categories {"align":"wide","className":"is-style-label"} /-->

<!-- wp:pattern {"slug":"cityguide/post-grid"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
