<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:query-title {"type":"archive","showPrefix":false} /-->

<!-- wp:paragraph {"className":"is-style-tabs"} -->
<p class="is-style-tabs"><a href="/works/">All</a> / <a href="/category/digital/">Digital</a> / <a href="/category/physical/">Physical</a> / <a href="/category/spatial/">Spatial</a> / <a href="/list/">Index</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:term-description {"align":"wide"} /-->

<!-- wp:pattern {"slug":"seed/works-archive"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
