<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-page-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group is-style-page-main"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-terms {"term":"category","separator":" / "} /-->

<!-- wp:post-title {"level":1,"fontSize":"xx-large"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"16/9","align":"wide"} /-->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->

<!-- wp:group {"align":"wide","className":"is-style-rule-top","layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide is-style-rule-top"><!-- wp:post-navigation-link {"type":"previous","label":"Previous job","showTitle":true} /-->

<!-- wp:post-navigation-link {"label":"Next job","showTitle":true} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
