<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:group {"tagName":"section","align":"full","className":"is-style-mustard","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-mustard"><!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide"} /-->

<!-- wp:term-description {"align":"wide"} /-->

<!-- wp:categories {"align":"wide"} /--></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-tomato","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-tomato"><!-- wp:pattern {"slug":"platter/ticket-archive"} /--></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
