<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:0"><!-- wp:pattern {"slug":"studio/hero-name-fact"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:pattern {"slug":"studio/work-sheet"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"is-style-rule-top","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide is-style-rule-top"><!-- wp:pattern {"slug":"studio/selected-work-list"} /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"studio/new-business"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
