<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--0)"><!-- wp:pattern {"slug":"roast/this-weeks-filter"} /-->

<!-- wp:pattern {"slug":"roast/coffee-list"} /-->

<!-- wp:pattern {"slug":"roast/brew-guides-grid"} /-->

<!-- wp:pattern {"slug":"roast/subscription-builder"} /-->

<!-- wp:pattern {"slug":"roast/cafes-and-wholesale"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
