<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-page-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group is-style-page-main"><!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide","fontSize":"xx-large"} /-->

<!-- wp:term-description {"align":"wide"} /-->

<!-- wp:pattern {"slug":"lingua/bibliography-archive"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
