<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|70","padding":{"bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"deck/cover"} /-->

<!-- wp:pattern {"slug":"deck/deck-wall"} /-->

<!-- wp:pattern {"slug":"deck/truck-size-guide"} /-->

<!-- wp:pattern {"slug":"deck/team"} /-->

<!-- wp:pattern {"slug":"deck/video-archive"} /-->

<!-- wp:pattern {"slug":"deck/events"} /-->

<!-- wp:pattern {"slug":"deck/visit"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
