<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-page-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group is-style-page-main"><!-- wp:query-title {"type":"search","align":"wide"} /-->

<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Longcase, pocket watch, battery","buttonText":"Search"} /-->

<!-- wp:pattern {"slug":"tick/post-list"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
