<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-page-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group is-style-page-main"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"45%"} -->
<div class="wp-block-column" style="flex-basis:45%"><!-- wp:post-featured-image {"aspectRatio":"2/3","scale":"contain"} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->

<!-- wp:post-content {"layout":{"type":"default"}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","className":"is-style-rule-top","layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide is-style-rule-top"><!-- wp:post-navigation-link {"type":"previous","label":"Previous","showTitle":true} /-->

<!-- wp:post-navigation-link {"label":"Next","showTitle":true} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
